<style>
    #modelBrowser {
        display: none;
    }
</style>
<!--[if le IE 11]> <style type="text/css">
    #modelBrowser{ display:table;}
</style> <![endif]-->
<div id="modelBrowser" style="width:100%; height:100%; position:fixed; top:0; left:0; z-index:10000;background-color:#000; color:white; opacity: .9; -ms-filter: \'progid:DXImageTransform.Microsoft.Alpha(Opacity=90)\';  filter:alpha(opacity=90);">
    <table style="width:100%; height:100%;">
        <tr style="width:100%; height:100%; text-align:center;">
            <td>
                <h2 style="color:#fff;">Your Browser Does Not Support !</h2>
                <a href="https://www.microsoft.com/en-my/download/details.aspx?id=48126" target="_blank" style="color:#fff;">Please Upgrade</a>
                <br />
                <br />
            </td>
        </tr>
    </table>
</div>