@{
    Layout = "~/Web/Shared/Amp/Index.cshtml";
}


@section Css{
    <style  amp-custom>
        <% for (var chunk in htmlWebpackPlugin.files.chunks) {if(chunk.split('~').indexOf(htmlWebpackPlugin.options.sName) !== -1){htmlWebpackPlugin .files.chunks[chunk].css.forEach(function(css){%><%=compilation.assets[css.split('/').pop()].source()%><%})}}%>
    </style>
}



<h1>Hello AMP</h1>