@{
    Layout = "~/Web/Shared/Amp/Index.cshtml";
}


@section Css{
<style amp-custom>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) {
        if(chunk.split('~').indexOf(htmlWebpackPlugin.options.sName) !== -1){
            var media = '@@media'.substring(1);
            var mediaRegex = new RegExp(media, 'ig');
            htmlWebpackPlugin .files.chunks[chunk].css.forEach(function(css){
                %><%= compilation.assets[css.split('/').pop()].source().replace(mediaRegex, '@@media (') %><%
            }
        )}}%>
</style>
}

@* 
    
console.log(p.replace(/@media\(/gi, '@@media(').replace(/@media\( /gi, '@@media( ')
            .replace(/@keyframes /gi, '@@keyframes '));

*@
 

<h1>Hello AMP</h1>