

@media (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}
body{
    color:red;
}body{
    color:red;
}
body{
    color:red;
}
body{
    color:red;
}
body{
    color:red;
}
body{
    color:red;
}
body{
    color:red;
}body{
    color:red;
}
body{
    color:red;
}
body{
    color:red;
}
body{
    color:red;
}
body{
    color:red;
}
body{
    color:red;
}body{
    color:red;
}
body{
    color:red;
}
body{
    color:red;
}
body{
    color:red;
}
body{
    color:red;
}
body{
    color:red;
}

