@import '../../../src/module/stooges-variables';
@import '../../../src/scss/project-variables';
@import '../../../src/module/stooges-mixin';
@import '../../../src/scss/project-mixin';
@import '../../../src/module/stooges-basscss';
@import '../../../src/scss/project-basscss';
<<<<<<< HEAD
=======
@import '../../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css';
>>>>>>> 287bdefda5481445ae44f33faf9f93c35834dc90


body{
    color:red;
}body{
    color:red;
}
body{
    color:red;
}
body{
    color:red;
}
body{
    color:red;
}
body{
    color:red;
}
body{
    color:red;
}body{
    color:red;
}
body{
    color:red;
}
body{
    color:red;
}
body{
    color:red;
}
body{
    color:red;
}
body{
    color:red;
}body{
    color:red;
}
body{
    color:red;
}
body{
    color:red;
}
body{
    color:red;
}
body{
    color:red;
}
body{
    color:red;
}

